body {
    width: 100%;
    overflow: auto;
}
.banniereProfile {
    width: 100%;
    z-index: 0;
}
.banniereProfile img {
    width: 120%;
    margin-top: -3%;
}
ion-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 33%;
}
.profilePicture {
    border: solid 2px rgb(214, 144, 82);
    height: 100%;
    width: 30%;
    border-radius: 80%;
    background-image: url("../../assets/img/babyReading.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -13%;
    
    z-index: 1;
}
.followstats {
    display: flex;
    margin-left: -60%;
    margin-top: 35%;
}
.followstats img {
    width: 30%;
}
.followers p {
    font-size: 0.7em;
}
.userIdentity p {
    text-align: center;
}
.myBooks img, .toReadList img, .myFavorites img {
    width: 100%;
    margin-right: 2%;
}
.myBooks, .toReadList, .myFavorites {
    width: 100%;
    display: flex;
    justify-content: center;
}
h3 {
    text-align: center;
    text-decoration: underline;
}

.optionsProfile {
    margin-top: -54%;
    margin-left: 82%;
}
.optionsProfile img {
    width: 38%;
}